<!doctype html>
<html>
  <head>
    <title>PhishShield</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>

  <body>
    <h1>🛡️{ Phish Shield } ⚔️</h1>

    <h3>AI Email Threat Analyzer</h3>

    <form method="POST" action="/analyze" enctype="multipart/form-data">
      <textarea
        name="email_content"
        id="email_content"
        rows="15"
        placeholder="Paste suspicious email here..."
      ></textarea>

      <br /><br />

      <label>Upload .EML Email File</label>

      <br /><br />

      <input type="file" id="email_file" name="email_file" accept=".eml" />

      <br /><br />

      <button type="submit">Analyze Email</button>
    </form>

    <script>
      const fileInput = document.getElementById("email_file");

      console.log("File Input:", fileInput);

      fileInput.addEventListener("change", function (event) {
        console.log("File Selected");

        const file = event.target.files[0];

        console.log(file);

        const reader = new FileReader();

        reader.onload = function (e) {
          console.log("File Loaded");

          document.getElementById("email_content").value = e.target.result;
        };

        reader.readAsText(file);
      });
      document.querySelector("form").addEventListener("submit", function (e) {
        const text = document.querySelector("textarea").value.trim();

        const file = document.querySelector('input[type="file"]').files.length;

        if (text === "" && file === 0) {
          alert("Please paste email content or upload an EML file.");
          e.preventDefault();
        }
      });
    </script>
  </body>
</html>
